# biodiversity
 Codecademy portfolio, biodiversity project

## Questions to Investigate
1. Observed species diversity per park
2. Weighted (by number of observations) species diversity per park
3. Total number of counts per species
4. Relative frequency of observations of each species, per park and overall
5. Relate each of these to species conservation status, per park and overall

With additional data on park sizes, calculate observation densities (overall and per species) per park, along with conservation status; also, total figures for all parks.

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

load in our starting data

In [35]:
observations = pd.read_csv("observations.csv")
species_info = pd.read_csv("species_info.csv")

print("Observation - first 5 rows")
print(observations.head())
print("\nSpecies - first 5 rows")
print(species_info.head())

print("\n\nObservations info")
print(observations.info())
print("\nObservations.describe")
print(observations.describe())
print("\Observations - missing values")
l = len(observations)
for column in observations.columns:
    v = observations[column].count()
    print("\n", column, "has", v, "observations and is missing", l-v, "observations")

print(species_info.info())
print(observations.describe())

Observation - first 5 rows
            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

Species - first 5 rows
  category                scientific_name  \
0   Mammal  Clethrionomys gapperi gapperi
1   Mammal                      Bos bison
2   Mammal                     Bos taurus
3   Mammal                     Ovis aries
4   Mammal                 Cervus elaphus

                                        common_names conservation_status
0                           Gapper's Red-Backed Vole                 NaN
1                              American Bison, Bison                 NaN
2  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN
3  Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)                 NaN
4                                      Wapiti Or Elk                 NaN


Observations info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23296 entries, 0 to 23295
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   scientific_name  23296 non-null  object
 1   park_name        23296 non-null  object
 2   observations     23296 non-null  int64
dtypes: int64(1), object(2)
memory usage: 546.1+ KB
None

Observations.describe
       observations
count  23296.000000
mean     142.287904
std       69.890532
min        9.000000
25%       86.000000
50%      124.000000
75%      195.000000
max      321.000000
\Observations - missing values

 scientific_name has 23296 observations and is missing 0 observations

 park_name has 23296 observations and is missing 0 observations

 observations has 23296 observations and is missing 0 observations
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5824 entries, 0 to 5823
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   category             5824 non-null   object
 1   scientific_name      5824 non-null   object
 2   common_names         5824 non-null   object
 3   conservation_status  191 non-null    object
dtypes: object(4)
memory usage: 182.1+ KB
None
       observations
count  23296.000000
mean     142.287904
std       69.890532
min        9.000000
25%       86.000000
50%      124.000000
75%      195.000000
max      321.000000

Getting the names of the parks being reported. This information will allow me to collect park size and mean elevation data from Wikipedia (rather than trying to locate a dataset with this information). The column with park names in it is called "park_name" in the observations dataset. Note that the formal name of "Bryce National Park" is Bryce Canyon National Park.

Park size data from wikipedia:
1. Bryce Canyon National Park https://en.wikipedia.org/wiki/Bryce_Canyon_National_Park
2. Great Smoky Mountains National Park https://en.wikipedia.org/wiki/Great_Smoky_Mountains_National_Park
3. Yellowstone National Park https://en.wikipedia.org/wiki/Yellowstone_National_Park
4. Yosemite National Park https://en.wikipedia.org/wiki/Yosemite_National_Park

Elevation data came from 
1. Bryce Canyon National Park https://en-us.topographic-map.com/map-2v4grr/Bryce-Canyon-National-Park/
2. Great Smoky Mountains National Park https://en-us.topographic-map.com/map-tl7nh/Great-Smoky-Mountains-National-Park/
3. Yellowstone National Park https://en-us.topographic-map.com/map-d1vcz/Yellowstone-National-Park/
4. Yosemite National Park https://en-us.topographic-map.com/map-ddnftf/Yosemite-National-Park/

In [28]:
park_names = observations["park_name"].unique()
print(park_names)

# park sizes are in square kilometers
park_size_data = { 
    "Bryce National Park": [145.02, 1640.129, 2258.873, 2902.001],
    "Great Smoky Mountains National Park": [2114.15, 249.936, 765.048, 2011.985],
    "Yellowstone National Park": [8983.18, 1559.966, 2449.982, 3549.091], 
    "Yosemite National Park": [3074.1, 2336.902],
}

park_sizes = pd.DataFrame.from_dict(park_size_data, orient="index", columns=["size_sq_km", "min_elevation_m", "avg_elevation_m", "max_elevation_m"])

['Great Smoky Mountains National Park' 'Yosemite National Park'
 'Bryce National Park' 'Yellowstone National Park']
                                     size_sq_km  avg_elevation_m
Bryce National Park                      145.02         2258.873
Great Smoky Mountains National Park     2114.15          765.048
Yellowstone National Park               8983.18         2449.982
Yosemite National Park                  3074.10         2336.902

## Question 1
Observed species diversity per park

Species diversity is a count of the number of different species observed per park.

In [31]:
species_per_park = observations.groupby("park_name").count_values()
print(species_per_park)

AttributeError: 'DataFrameGroupBy' object has no attribute 'count_values'